<div class = "materialDialog">
    <h2>Create material</h2>
  <form [formGroup]="materialForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      
      <input type="text" matInput placeholder="Name"  formControlName="name"  />
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Path"   formControlName="path" />
    </mat-form-field>
    <mat-form-field>
      <input  type="text" matInput placeholder="Subject"  formControlName="subject" />
    </mat-form-field>
    <button   type="submit" mat-raised-button color="accent">
      Create
      </button>
      
  </form>
</div>
