<!-- for more reference about pdf pdf-viewer https://www.npmjs.com/package/ng2-pdf-viewer#page -->

<div
  class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div class="pdf-viewer" fxFlex="15%" [class.mat-elevation-z8]="true">
    <div class="pdf-container">
      <!-- <input
        id="query"
        #queryInp
        [value]="query"
        (keyup.enter)="searchQueryChanged(queryInp.value)"
      /> -->
      <pdf-viewer
        [src]="src2"
        [rotation]="0"
        [original-size]="true"
        [show-all]="true"
        [fit-to-page]="true"
        [zoom]="0.9"
        [zoom-scale]="'page-width'"
        [stick-to-page]="false"
        [render-text]="true"
        [render-text-mode]="2"
        [external-link-target]="'blank'"
        [autoresize]="true"
        [show-borders]="true"
        [fit-to-page]="true"
        (after-load-complete)="callBackFn($event)"
        (page-rendered)="pageRendered($event)"
        style="width: 100%; height: 650px"
      ></pdf-viewer>
    </div>
  </div>
  <div class="item" fxFlex="15%">

    <div class ="header">Take Notes</div>
    


   <div class="note">
    <div class="note">
      <div class="title"><label>Title</label></div>
      <div class="title"><input name="noteTile" type="text" /></div>
    </div>
    <div class="note">
      <div class="title"><label>Content</label></div>
      <div class="title"><textarea name="notes"></textarea></div>
    </div>
    <div class="saveNote">
      <button mat-raised-button class ="save">Save</button>
    </div>
  </div>

  <mat-divider> </mat-divider>

  <div class="note">
    <div class="title">
      <input
        placeholder="Search notes"
        class="searchIcon"
        name="noteTile"
        type="text"
      />
    </div>
  </div>

  <app-note-pad [notes] = "notes"></app-note-pad>
  </div>
</div>
