<!-- for more reference about pdf pdf-viewer https://www.npmjs.com/package/ng2-pdf-viewer#page -->

<div
  class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div class="pdf-viewer" fxFlex="15%" [class.mat-elevation-z8]="true">
    <div class="pdf-container">
      <!-- <input
        id="query"
        #queryInp
        [value]="query"
        (keyup.enter)="searchQueryChanged(queryInp.value)"
      /> -->
      <pdf-viewer
        [src]="pdfSrc"
        [rotation]="0"
        [original-size]="true"
        [show-all]="true"
        [fit-to-page]="true"
        [zoom]="0.9"
        [zoom-scale]="'page-width'"
        [stick-to-page]="false"
        [render-text]="true"
        [render-text-mode]="2"
        [external-link-target]="'blank'"
        [autoresize]="true"
        [show-borders]="true"
        [fit-to-page]="true"
        (after-load-complete)="callBackFn($event)"
        (page-rendered)="pageRendered($event)"
        style="width: 100%; height: 655px"
      ></pdf-viewer>
    </div>
  </div>
  <div class="item" fxFlex="15%">
    <mat-divider> </mat-divider>
    <button
      mat-fab
      class="goBack"
      aria-label="Example icon button with a heart icon"
      (click)="goBack()"
      matTooltip="Go back"
    >
      <mat-icon>arrow_back_ios</mat-icon>
    </button>

    <div class="note">
      <div class="title">
        <input
          placeholder="Search notes"
          class="searchIcon"
          name="noteTile"
          type="text"
        />
      </div>
    </div>

    <app-note-pad [notes]="notes" (newItemEvent)="removeItem($event)"></app-note-pad>
  </div>
</div>
