/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-toolbar{
    min-height: 45px !important; 
    height: 45px !important;
    color: white !important;
    background: #1C2B36 !important;
}

.active{
    color: white;
}