<div fxLayoutAlign="space-between" class="mainff" cdkDropListGroup>
  <div *ngFor="let item of tasks" class="example-container">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <h4>{{ item.joiningDate }}</h4>
      <button class="iconSize" mat-mini-fab (click)="addTask(item)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div>Total Tasks: {{ item.tasks.length }}</div>

    <div
      [ngClass]="{ activeDay: item.joiningDate === '2023-02-10' }"
      cdkDropList
      [cdkDropListData]="item['tasks']"
      class="example-list"
      (cdkDropListDropped)="drop($event, item.joiningDate)"
      [cdkDropListEnterPredicate]="evenPredicate"
    >
      <div
        class="example-box"
        (mouseleave)="setHoveredIndex(null)"
        (mouseover)="setHoveredIndex(j.id)"
        *ngFor="let j of item['tasks']; let i = index"
        cdkDrag
        [cdkDragData]="j"
      >
        {{ j.toDo }}
        {{ j.id }}
        <span [ngClass]="j.id === hoveredIndex ? 'hovered' : 'delete-button'"
          ><button mat-icon-button (click)="deleteTask(j)">
            <mat-icon>delete</mat-icon>
          </button></span
        >
      </div>
    </div>
  </div>
</div>
