.noteListContainer {
  padding-left: 40px;
  padding-bottom: 30px;
}

.example-container {
  width: 456px;
}

.noteTile {
  padding-left: 20px;
  padding-top: 15px !important;
  padding-bottom: 10px !important;
  font-size: medium;
}

.noteContent {
  text-align: left;
  padding: 0px 20px 15px 20px !important;
}

.mat-mdc-icon-button {
  padding: 0px !important;
}
