<div class="container"  [@itemAnim]>

<div   *ngFor="let note of notes"   [@itemAnim] class = "noteListContainer">
  <div class="example-container"  [class.mat-elevation-z8]="true">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title class ="noteTile"> {{note.noteTitle}}</mat-card-title>
        <button mat-icon-button matSuffix  (click)="removeItem(note)" >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-title-group>
      <mat-card-content class="noteContent">{{note.noteContent}}</mat-card-content>
    </mat-card>
  </div>
</div>
<button
    mat-fab
    class="add"
    aria-label="Example icon button with a heart icon"
    (click)="openBottomSheet()"
    matTooltip="Add new Note"
  >
    <mat-icon>notes</mat-icon>
  </button>
</div>
