mat-card {
  width: 350px;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: #1c2b36;
}
mat-card-title {
  color: white;
}


mat-label {
  color: white;
}

input{
    height: 63px;
}
::ng-deep {
  .mat-form-field-underline {
    background-color: white !important;
  }

  .mat-form-field-underline,
  .mat-form-field-underline.mat-focused {
    background-color: white;
  }

  .mat-focused .mat-form-field-label {
    color: #027d7c !important;
  }
  .mat-mdc-form-field-focus-overlay {
    background-color: #209e91;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #209e91;
  }

//   .mdc-line-ripple::before {
//     border-bottom-width: 15px;
//     border-bottom-color: orange;
//   }

  .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: var(--mdc-theme-primary, orange);
}
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: white;
}

.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: red;
}
 
// .mdc-text-field:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
//     border-bottom-color: white;
// }

}

button {
  width: 215px;
  height: 35px;
  background: #FFF;
  color: #000;
  font-size: medium;
  font-weight: 700;
}
.signUp {
  padding-top: 20px;
  color: orange;
}


